<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.flyingjack.cashier.mapper.WmsUserProfileMapper">

    <select id="findByUserId" resultType="top.flyingjack.cashier.entity.WmsUserProfile">
        SELECT user_id, group_id, role, nickname
        FROM wms_user_profile
        WHERE user_id = #{userId}
    </select>

    <insert id="insert">
        INSERT INTO wms_user_profile (user_id, group_id, role, nickname)
        VALUES (#{userId}, #{groupId}, #{role}, #{nickname})
        ON CONFLICT (user_id) DO NOTHING
    </insert>

    <update id="updateGroupAndRole">
        UPDATE wms_user_profile
        SET group_id = #{groupId}, role = #{role}
        WHERE user_id = #{userId}
    </update>

    <update id="updateRole">
        UPDATE wms_user_profile SET role = #{role} WHERE user_id = #{userId}
    </update>

    <update id="updateNickname">
        UPDATE wms_user_profile SET nickname = #{nickname} WHERE user_id = #{userId}
    </update>

</mapper>
